# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/tmp
client/out-tsc

# profiling files
client/chrome-profiler-events.json
client/speed-measure-plugin.json

# IDEs and editors
client/.idea
client/.project
client/.classpath
client/.c9/
client/*.launch
client/.settings/
client/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
client/typings

# System Files
.DS_Store
Thumbs.db

**/node_modules
**/dist
server/.env
