.example-card {
    max-width: 300px;
    margin: 10px;

}

.mat-card-header {
    min-height: 80px;
}

.mat-card-image {
    max-height: 500px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.mat-list-base .mat-list-item {
    font-size: 14px;
    
}

.book-info {
    .mat-list-base .mat-list-item .mat-list-item-content {
        display: flex;
        align-items: baseline;
    }
}

.btn-favorite {
    cursor: pointer;
}