<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/"><mat-icon>store</mat-icon> <span>Book Store</span></a>
        <span class="example-spacer"></span>
        <button mat-button>Welcome Rakesh</button>
        <button mat-button>Login</button>
        <button mat-button>Logout</button>
        <button mat-flat-button matBadge="0" matBadgePosition="after" matBadgeColor="accent">Cart</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
